<h1>未実行タスク</h1>

<% if tasks_not_done.any? %>
  <% tasks_not_done.each do |task| %>
    <%= form_for(task) do |f| %>
    <table class = "table table-striped table-condensed">
      <thead>
        <th width = "80"></th>
        <th width = "50">id</th>
        <th>内容</th>
        <th width = "150">状態</th>
        <th width = "80"></th>
      </thead>
      <tbody>
        <tr>
          <td class = "text-center" style = "vertical-align:middle"><%= link_to '消去', task, method: :delete, data: {confirm: 'タスクを削除してもよろしいですか？'}, class: "btn btn-danger btn-xs" %></td>
          <td style = "vertical-align:middle"><%= link_to task.id, task %></td>
          <td style = "vertical-align:middle"><%= task.content %></td>
          <td style = "vertical-align:middle">
            <div class = "form-inline">
              <%= f.select :status, ['未実行', '完了済'], {}, class: 'form-control' %>
            </div>
          </td>
          <td style = "vertical-align:middle">
            <%= f.submit '更新', class: 'btn btn-primary' %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  <% end %>
      
  <div>
    <%= paginate tasks_not_done %>
  </div>

<% end %>