<h1>id: <%= @task.id %>の詳細</h1>

<table class = "table table-bordered table-striped">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'タスクを編集する', edit_task_path(@task), class: 'btn btn-primary' %>
<%= link_to 'タスクを消去する', @task, method: :delete, data: {confirm: 'タスクを消去しますか？'}, class: 'btn btn-danger' %>